body{
    background: url("../img/body-bg.gif");
}
.form_block{
    border: none;
    background: url("../img/form-bg.gif");
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: #666 0 0 10px;
    -moz-box-shadow: #666 0 0 10px;
    box-shadow: #666 0 0 10px;
    color: #c3c3c3;
}
